<div class="footerInvoice">
    <ul>
        <li class="footerInvoice">
            <a>Thibaud BÉJAT</a>
        </li>
        <li class="footerInvoice">
            <a>Avocat au barreau de Paris</a>
        </li>
        <li class="footerInvoice">
            <a>tbejat.avocat@gmail.com</a>
        </li>
        <li class="footerInvoice">
            <a>N° de SIRET : 839 829 520 00015</a>
        </li>
    </ul>
</div>