<div class="headerInvoice">
    <img class="logoInvoice" src="{{ asset('build/logothibaut.png') }}" />
    <h3>Thibaud BÉJAT</h3>
    <h4>Avocat</h4>
</div>

<table class="subHeaderInvoice">
    <tr class="coordonneesInvoice">
        <td class="t1">
            <p>52, rue des Acacias - 75017 Paris</p>
            <p>Toque: J 108</p>
        </td>
        <td class="t2">
            <p>Téléphone: +33 (0)7 60 56 16 34</p>
            <p> Télécopie : +33 (0)1 56 79 05 07</p>
        </td>
    </tr>

    <tr class="invoiceId">
        <td>
            <b>Facture n° :</b><br /> À l'attention de $CLIENT
        </td>
        <td>
            <b>Adresse de facturation :</b><br /> Lieu, le: $date<br />
        </td>
    </tr>
</table>