body {
    background-color: rgb(183, 225, 253);
}


/*Header*/

.main-header {
    margin: 20px;
}


/*Table header*/

.datagrid thead {
    background-color: #4886AF;
}


/*Admin icon*/

.navbar-custom-menu .user {
    color: #4886af;
}

.action-edit {
    margin-left: 15px;
    padding: 6px;
    border-color: #4886af;
    color: #4886af;
    background-color: #e7e7e7;
    box-shadow: 4px 4px 2px 1px rgba(25, 25, 26, 0.2);
    border-radius: 10px;
}

.action-delete {
    margin-left: 15px;
    padding: 6px;
    color: #4886af;
    border-color: #4886af;
    background-color: #e7e7e7;
    box-shadow: 4px 4px 2px 1px rgba(25, 25, 26, 0.2);
    border-radius: 10px;
}

.main-sidebar {
    background-color: rgb(183, 225, 253);
}

.content-header {
    background-color: rgb(183, 225, 253);
}

.action-new {
    color: #4886af;
    background-color: #e7e7e7;
    box-shadow: 4px 4px 2px 1px rgba(25, 25, 26, 0.2);
    border-radius: 10px;
    margin-right: 20px;
}

.content-header:before,
.content-header:after {
    background-color: rgb(183, 225, 253);
}

.a {
    border-radius: 10px;
}