body {
    color: #4886af;
}

button {
    display: flex;
    justify-content: right;
}

.separateur {
    border: 3px solid#4886af;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.presentation {
    min-height: 75vh;
}

#bgI {
    background-image: url("remote-fr-March21-php-TDBT/assets/images/background.png");
    transition: background-image 2s linear;
    opacity: 0.5;
}

#bgI:hover {
    background-image: transparent;
}

.btn-lg {
    font-size: 14px;
}


/* navbar */

.navbar-custom {
    background-color: #4886af;
}

.logoNav {
    width: 3%;
    height: 3%;
}

h5 {
    font-weight: bold;
}

.picture {
    width: 50%;
    height: auto;
}

.titre {
    margin-left: 30px;
}


/*competence*/

.card-text_1 {
    color: #4886AF;
}

.card-text_2 {
    color: white;
}

.card_3 {
    border-width: 15px;
    border-radius: 8px;
    box-shadow: 0 0 2em rgb(37, 37, 49);
}

.card_competence1 {
    border-width: 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 2px 1px rgba(25, 25, 26, 0.2);
    background-color: #e7e7e7;
    height: 80%;
    width: 100%;
}

.card_competence2 {
    border-width: 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 2px 1px rgba(25, 25, 26, 0.2);
    background-color: #4886AF;
    color: white;
    height: 80%;
    width: 100%;
}


/*Actualités*/

.row-link {
    display: flex;
    justify-content: space-around;
    padding-left: 180px;
}

.nav-link {
    color: #4886AF;
    font-size: 20px;
}

.actualite_date {
    height: 3rem;
    width: 100%;
    text-align: center;
}

.bouton_actualite_modal {
    height: 3rem;
    width: 100%;
    text-align: center;
}

.new-title {
    height: 3rem;
    width: 30rem;
}

.new_category_name {
    height: 2rem;
    width: 50rem;
}


/*Modal*/

.modal-header {
    background-color: #4886af;
    color: white;
    text-align: center !important;
}

.modal-body {
    display: flex;
    justify-content: center;
    background-color: #e7e7e7;
    color: #4886AF;
}

.modal-footer {
    background-color: #4886af;
}

.btn-secondary {
    background-color: #e7e7e7;
}

@media screen and (max-width: 1384px) and (min-width: 993px) {
    .new_description {
        height: 10rem;
        width: 10rem;
        overflow: hidden;
    }
}

.new_description {
    height: 14rem;
    width: 98%;
    overflow: hidden;
    margin-bottom: 2%;
}

.img-news {
    height: 40%;
    width: 40%;
    text-align: right;
}

.card-date {
    text-align: right;
}

.card_5 {
    border-width: 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 2px 1px rgba(25, 25, 26, 0.2);
    background-color: #4886af;
    color: white;
    height: 30rem;
}


/* Contact CSS */

ul {
    list-style-type: none;
}

.message {
    height: 20rem;
    border-radius: 25rem;
}

footer {
    justify-content: space-between;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #4886af;
    color: white;
    text-align: center;
}

.btn {
    margin-left: 15px;
    color: #4886af;
    border-color: #4886af;
    box-shadow: 4px 4px 2px 1px rgba(25, 25, 26, 0.2);
}

.map {
    height: 35rem;
    border-radius: 10px;
    width: 100%;
}

.form-control {
    margin: 10px;
}

.h3 {
    margin-left: 15px;
}

.username {
    margin-left: 15px;
}

.password {
    margin-left: 15px;
}

@media screen and (max-width: 1440px) {
    .map {
        height: 80%;
        width: 90%;
    }
    .new-description {
        width: auto;
    }
    .article {
        display: flex;
        justify-content: center;
    }
    .news {
        width: 78%;
    }
}

@media screen and (max-width: 992px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: auto;
    }
    .card_competence1 {
        height: 85%;
    }
    .card_competence2 {
        height: 85%;
    }
    .card_5 {
        height: auto;
    }
    .map1 {
        width: 100%;
        display: flex;
    }
    .map {
        width: 30rem;
        height: 25rem;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar {
        margin-bottom: 4%;
    }
    .presentation {
        padding: 1rem !important;
    }
}

@media screen and (max-width: 768px) {
    .article {
        display: flow-root;
        width: 200%;
        padding-left: 8%;
    }
    .space {
        display: none;
    }
    .competence {
        margin-left: 20%;
    }
    .map {
        margin-left: 10%;
    }
}

@media screen and (max-width:575px) {
    .article {
        width: auto;
    }
    .map {
        margin-left: auto;
        width: 29rem;
    }
    .map1 {
        margin-right: 10%;
    }
    .width {
        width: auto;
    }
    .competence {
        margin-left: 2%;
    }
    .contact {
        margin-left: 5%;
    }
    .card_competence1 {
        box-shadow: 4px 4px 1px 1px rgba(25, 25, 26, 0.2);
    }
    .card_competence2 {
        box-shadow: 4px 4px 1px 1px rgba(25, 25, 26, 0.2);
    }
    .card_5 {
        box-shadow: 4px 4px 1px 1px rgba(25, 25, 26, 0.2);
    }
}