{% block footer %}
<div class="d-flex justify-content-around flex-wrap pt-3" style="background-color: #4886af;bottom:0vh">
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">À propos</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Expertises</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Actualités</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Contact</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Mentions légales</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Politique de protections des données</a>
                </li>

        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <p class="text-white">Thibaud Béjat<br> Paris<br>E-mail: tbejat.avocat@gmail.com <br> Tél: +33 (0)7 60 56 16 34

        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © Thibaud Béjat Avocat 2021 - Tous droits réservés
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
</div>
<!-- Copyright -->
{% endblock %}