{% block header %}
<div class=".d-none .d-xs-block">
    <nav class="navbar navbar-expand-lg navbar navbar-dark fixed-top" style="background-color:#4886af">
        <button class="navbar-toggler" type=" button " data-toggle="collapse " data-target="dropdown1 " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
          <span class="icon-bar"></span>
        </button>
        <img class="rounded-circle " src="{{ asset( 'build/logothibaut.png') }} " width="70px " heigth="70px " alt=" ">
        <div class="container-fluid ">

            <div class="collapse navbar-collapse pl-3 " id="dropdown">

                <div class="me-auto mb-2 mb-lg-0 mx-auto d-flex justify-content-between flex-wrap ">
                    <li class="list-unstyled mb-0 ">
                        <a class="text-white nav-link active " aria-current="page " href="/ ">Accueil</a>
                    </li>
                    <li class="list-unstyled mb-0 ">
                        <a class="text-white nav-link active " aria-current="page " href="/#compétences ">Compétences</a>
                    </li>
                    <li class="list-unstyled mb-0 ">
                        <a class="text-white nav-link active " aria-current="page " href="/#actualités ">Actualités</a>
                    </li>
                    <li class="list-unstyled mb-0 ">
                        <a class="text-white nav-link active " aria-current="page " href="/#contact ">Contact</a>
                    </li>
                    <li class="list-unstyled mb-0 ">
                        <a class="text-white nav-link active " aria-current="page " href="/admin ">Login</a>
                    </li>
                </div>
            </div>
    </nav>
    </div>
</div>

{% endblock %}