{% block title %}{% endblock %} {% block body %}
<div class="mt-5 pt-5">
    <h1></h1>
</div>
<center>
    <id="presentation">
        <div class=" m-3 " style="max-width: 680px; ">
            <div class="row">
                <div class="col-md-4 mt-5">
                    <img src="https://legalclient.fr/wp-content/uploads/2020/04/cropped-Thibaut-Bejat_1586006150_5e8888867f0f5_1586006178_5e8888a2b4496-150x150.jpg" alt=" Thibaud Béjat ">

                </div>
                <div class="col-md-8 ">
                    <div class="card-body ">
                        <h5 class="card-title ">{{about.title}}</h5>
                        <p class="card-text ">sous-titre</p>
                        <div class="card-text">
                            <p>description
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</center>
{% endblock %}