{% block title %}{% endblock %} {% block body %}
<div id="expertises" class=" expertise mt-5 ">
    <h1>EXPERTISES</h1>
</div>

<div class="card_1 container mb-5 ">
    <div class="row ">
        <div class="col-8 ">
            <div class="mt-5 card_1 rounded-pill " style="background-color : #E5E6E7; ">

                <div class="p-3 text-center ">Titre</div>
                <div class="card-body ">

                    <h5 class="card-title ">First card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4 "></div>
    </div>

    <div class="row ">
        <div class="col-4 "></div>
        <div class="col-8 ">
            <div class="mt-5 card_2 rounded-pill " style="background-color : #4886AF; ">
                <div class="p-3 text-center ">Droit de la Sécurité Sociale</div>
                <div class=" card-body text-secondary ">
                    <h5 class="card-title_2 ">Secondary card title</h5>
                    <p class="card-text_2 ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-8 ">
            <div class="mt-5 card_1 rounded-pill " style="background-color : #E5E6E7; ">
                <div class="p-3 text-center ">Droit commercial</div>
                <div class="card-body ">
                    <h5 class="card-title ">Third card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4 "></div>
    </div>
</div>
</div>
{% endblock %}