 {% block title %}{% endblock %} {% block body %}
<div class="mt-5">
    <h1>ACTUALITES</h1>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        <a href="">Les plus récentes </a>
    </div>
    <div class="col-2">
        <a href="">Journal Officiel </a>
    </div>
    <div class="col-4">
        <a href="">Les Décisions importantes des derniers mois  </a>
    </div>
    <div class="col-3">
        <a href="">Toutes </a>
    </div>
</div>
<center>
    <div class="aboutletout" style=" text-align:center">
        <div class=" mt-5 ">
        </div>
        <div class=" row ">
            <div class="col-1 ">
            </div>
            <div class="col-sm-5 ">
                <div class="card ">
                    <div class="card-body-expertise-1 rounded-pill">
                        <div class="row ">

                            <h5 class=" card-title ">Titre actualité ici</h5>
                            <div class "justify-content-end ">
                                <p>image ici</p>


                            </div>
                        </div>
                        <p class="card-text ">Subtile actualité ici </p>
                        <a href="# " class="btn btn-primary ">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-1 ">
            </div>
            <div class="col-sm-5 ">
                <div class="card ">
                    <div class="card-body-expertise-2 ">
                        <h5 class="card-title ">Special title treatment</h5>
                        <div class="mt-5 ">
                            <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>

                            <a href="# " class="btn btn-primary ">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</center> {% endblock %}